{% extends 'base.twig' %}
{% block js %}
    {{ parent() }}
    <script src="{{ BASE_URL }}/vendor/guna/users/public/javascript/accounts/edit.js"></script>
{% endblock %}
{% block title %}{{ __('Edit personal account information') }}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" data-bs-theme="{{ WEBSITE.mode }}">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active">{{ __('Edit personal account information') }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-md-9">
            <h3>{{ __('Edit personal account information') }}</h3>
        </div>
        <div class="col-md-3 text-end">
        </div>
    </div>
    <form id="form" method="post" enctype="multipart/form-data">
        <div class="row mb-2">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <input type="hidden" id="id" name="id" value="{{ user.id }}">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="last_name" class="form-label"><b>{{ __('Family name') }}</b></label>
                            <input class="form-control" id="last_name" name="last_name" type="text"
                                   value="{{ user.last_name }}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="first_name" class="form-label"><b>{{ __('First name') }}</b></label>
                            <input class="form-control" id="first_name" name="first_name" type="text"
                                   value="{{ user.first_name }}" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label for="last_login" class="form-label"><b>{{ __('Last login') }}</b></label>
                            <input class="form-control" id="last_login" name="last_login" type="datetime-local"
                                   value="{{ user.last_login }}" disabled>
                        </div>
                        <div class="col-md-9">
                            <label for="email" class="form-label"><b>{{ __('E-mail') }}</b></label>
                            <input class="form-control" id="email" name="email" type="text"
                                   value="{{ user.email }}">
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label for="locale" class="form-label"><b>{{ __('Language') }}</b></label>
                            <select class="form-select" id="locale" name="locale" required>
                                <option value="{{ user.locale }}" {% if user.locale == 'nl-BE' %}selected{% endif %}>{{ __('Dutch') }}</option>
                                <option value="{{ user.locale }}" {% if user.locale == 'en-US' %}selected{% endif %}>{{ __('English') }}</option>
                                <option value="{{ user.locale }}" {% if user.locale == 'fr-BE' %}selected{% endif %}>{{ __('French') }}</option>
                                <option value="{{ user.locale }}" {% if user.locale == 'de-DE' %}selected{% endif %}>{{ __('German') }}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <button type="button" id="submitBtn" data-bs-toggle="modal" data-bs-target="#confirm-submit"
                                class="btn btn-success"><i class="fa fa-save"></i> {{ __('Save') }}
                        </button>
                        <a class="btn btn-danger" href="{{ BASE_URL }}/users"><i class="fa fa-times"></i> {{ __('Cancel') }}</a>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="button" id="changePasswordBtn" class="btn btn-primary"><i class="fa fa-key"></i> {{ __('Change password') }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}